#root{
    --dark-color: #426696;
    --darker-grey-color: #070d2c;
    --light-color: #65dfc9;
    --lighter-color: #fff;
    --chosen-position: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    position: relative;
}

*{
    box-sizing: border-box;
}

.hau-bg1{
    display: grid;
    grid-template-columns: 200px auto;
    column-gap: 5px;
    /* background: linear-gradient(to right bottom, #3a7bd5, #3a6073); */
}

.hau-nav{
    height: 100vh;
    display: block;
    color: white;
    background-color: #4a4b4c;
    font-weight: 700;
    justify-content: center;
}
.hau-nav-button,.hau-nav-button-holder,.hau-nav-logo,.hau-nav-logout{
    width: 100%;
    color: white;
    text-align: center
}

.hau-nav-logo{
    height: 20%;
}

.hau-nav-logo img{
    width: 90%;
}

.hau-nav-button-holder{
    position: relative;
    height: 60%;
}
/* .hau-nav-button:hover, */
.hau-nav-logout:hover{
    background-color: whitesmoke;
    color: #FF8787;
    cursor: pointer;
}
.hau-nav-button:hover{
    cursor: pointer;
}

.hau-nav-button, .hau-nav-logout{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    z-index: 1;
    position: relative;
}

.hau-nav-button-animation{
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: -1;
    border: #65dfc9 2px solid;
    top: var(--chosen-position);
    transition: all .5s ease 0s;
}

#dashboardBtn:hover~.hau-nav-button-animation{
    --chosen-position: 0px;
    z-index: 0;
}
#productBtn:hover~.hau-nav-button-animation{
    --chosen-position: 50px;
    z-index: 0;
}
#orderBtn:hover~.hau-nav-button-animation{
    --chosen-position: 100px;
    z-index: 0;
}
#accountBtn:hover~.hau-nav-button-animation{
    --chosen-position: 150px;
    z-index: 0;
}
.hau-current-btn{
    background-color: rgb(54, 210, 212);
    transition: 0.5s;
}

.hau-nav-logout{
    height: 20%;
}

.hau-product-header, .hau-product-item{
    display: grid;
    grid-template-columns: auto auto 10% 10% 10% 10% 10% 10% 10%;
    /* height: 80px; */
    align-items: center;
    margin-bottom: 2px;
}


h1{
    text-align: center;
    color: #FF8787;
    font-weight: 700;
}
.hau-table-header *, .hau-table-item *{
    margin-left: 5px;
}

.hau-table-item img{
    height: 50px;
}
.hau-table-header{
    position: sticky;
    text-transform: uppercase;
    top: 0%;
    border: #070d2c 1px solid;
    z-index: 3;
    color: white;
    font-weight: 700;
    background-color: #4a4b4c;
}

.hau-account-header, .hau-account-item{
    display: grid;
    grid-template-columns: auto auto 15% 20% 15% 15% 10% ;
    height: 50px;
    align-items: center;
    margin-bottom: 2px;
}
.hau-account-item *{
    word-break: break-word;
}
.hau-tale-item{
    text-transform: capitalize;
}

.hau-table-item:nth-child(2n+1){
    background-color: #e1dede;
    border-bottom: #070d2c 1px solid;
}
.hau-table-item:nth-child(2n){
    border-bottom: #070d2c 1px solid;
    background: whitesmoke;
}

.hau-table{
    height: 80%;
    overflow-y: scroll;
    margin: 0 10px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0);
}

.hau-content-page{
    height: 100vh;
    overflow-y: hidden;
}