#root{
    --dark-color: #426696;
    --darker-grey-color: #070d2c;
    --light-color: #65dfc9;
    --lighter-color: #fff;
    height: 98vh;
    display: grid;
    grid-template-columns: 20% auto;
    gap: 5px;
    margin: 5px;
    background-color: #e0e0e0;
    background: linear-gradient(
        to right top, #070d2c 50%, #161c3e 50%);
    border-radius: 20px;
}

.hau-nav{
    background: linear-gradient(
        to right top, #070d2c 51%, #161c3e 50%);
    
    border-radius: 20px 0px 0px 20px;
    border: 1px #311d1d solid;
    position: relative;
    display: block;
}
.hau-nav.test-nav {
    display: none;
}
.hau-content.test-content {
    display: none;
}
#root.test-root {
    display: none;
}
.hau-navitem{
    text-align: center;
    margin: 5px;
    font-size: 20px;
    font-family: "SF Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hau-navitem a:link, .hau-navitem a:visited{
    color: var(--dark-color);
    text-decoration: none;
}

.hau-navitem a{
    display: block;
    font-weight: 650;
    padding: 5px;
}


.hau-navitem:hover, .hau-navitem a:hover, .hau-navitem::selection{
    background-color: var(--dark-color);
    color: var(--lighter-color);
    font-weight: 700;
}

.hau-navlogo img{
    width: 70%;
    display: block;
    margin: 0px auto ;
}

.hau-navlogo{
    padding: 5px;
    background: linear-gradient(
        to right top, #070d2c 50%, #161c3e 50%);
    
    border-bottom: 3px solid #176979;
    border-radius: 20px 0 0 0 ;
}

.hau-navfooter{
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.hau-button{
    width: 95%;
    display: block;
    margin: 2px auto 2px auto;
    padding: 5px;
    border-radius: 10px;
}

#hau-admin-logout-button{
    color: var(--dark-color);
    background-color: var(--lighter-color);
    font-size: 20px;
    font-family: "SF Pro";
    font-weight: 700;
}

#hau-admin-logout-button:hover{
    color: var(--lighter-color);
    background: var(--dark-color);
    opacity: 0.7;
    font-size: 20px;
    font-family: "SF Pro";
    font-weight: 700;
}


.hau-content{
    background: linear-gradient(
        to right bottom,
        rgb(255, 255, 255,0.3),
        rgba(255,255,255,0.1)
        );
    overflow: hidden;
    overflow-y: scroll;
    position: relative;

}


.hau-admin-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(250, 250, 250, 0.95);
    height: 100px;
    color: var(--dark-color);
    font-family: "SF Pro";
    text-align: center;
    border-bottom: 10px solid var(--darker-grey-color);
}
